<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Login Test Suite">
    <test name="Login Functionality Tests">
        <classes>
            <class name="demo.restfulapi.LoginTest"/>
        </classes>
    </test>

    <test name="Register Test">
        <classes>
            <class name="demo.restfulapi.RegisterTest"/>
        </classes>
    </test>

    <test name="Payment Test">
        <classes>
            <class name="demo.restfulapi.PaymentTest"/>
        </classes>
    </test>

</suite>
